# Gathering Data `Lesson02`

##### Student Tags

* Author : AH Uyekita
* Title  :  _Data Wrangling_
* Date   : 21/12/2018
* Course : Data Science II - Foundations Nanodegree
    * COD    : ND111
    * **Instructor:** David Venturi
    * **Instructor:** Mat Leonard

***

# Summary

* <a href="#scrapping">1. Web Scrapping</a>;
* <a href="#assessing">Assessing</a>, and;
* <a href="#cleaning">Cleaning</a>.

***

## 1. Web Scrapping <a id='scrapping'></a>

This is a fancy way to say gathering text/data from websites. For this course, I will use the [Beautiful Soup][beau_pack] package.

[beau_pack]: https://www.crummy.com/software/BeautifulSoup/

### Libraries

In [1]:
# Importing Libraries to perform this study
import pandas as pd

# Importing the Beautiful Soup Package
from bs4 import BeautifulSoup

Loading the `bestofrt.tsv`.

In [2]:
# Loading the Best of Rotten Tomatoes.
df = pd.read_csv('01-Dataset/bestofrt.tsv', sep= '\t') # Bear in mind, I have used the \t because is tabular separated values.

In [3]:
# Printing the first 5 rows.
df.head()

   ranking  critic_score                      title  number_of_critic_ratings
0        1            99    The Wizard of Oz (1939)                       110
1        2           100        Citizen Kane (1941)                        75
2        3           100       The Third Man (1949)                        77
3        4            99             Get Out (2017)                       282
4        5            97  Mad Max: Fury Road (2015)                       370

Creating the "soup".

In [ ]:
#
with open('') as file:
    soup = BeautifulSoup(file, 'lxml')